* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth ;
}
.navbar {
    background: linear-gradient(to right, white,#FAE8D7 );
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo { 
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #3B3632;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: 0.5s ease;
}
.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #FDD6CD;
    color: #3B3632;
}

.button:hover{
    background: #E0D0C1;
    transition: 0.5s ease;
}

.navbar_links:hover{
    color: #72A1AD;
    transition: 0.5s ease;
}
@media screen and (max-width: 960px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: 0.5s ease;
        z-index: -1;
       
    }
    .navbar_menu.active{
        background: #FAE8D7;
        top:100%;
        opacity: 1;
        transition: 0.5s ease;
        z-index: 99;
        height: 72vh;
        font-size: 1.6rem;
    }
    #navbar_logo{
        padding-left: 25px;
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: 0.5s ease-in-out;
        background: #3B3632;
    }
    .navbar_item{
        width: 100%;
    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width:100%;
        display: table;
    }
    .navbar_btn{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 70px;
        margin: 0;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* Body Section */

.structure{
    background: #FFFDF8;
    padding: 200px 0;
}

.structure_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.structure_heading{
    font-size: 70px;
    margin-bottom: 24px;
    color:#3B3632;
}

.structure_heading span{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #FDD6CD;
    color: #3B3632;
}

.structure_description{
    font-size: 40px; 
    font-family: 'Dancing Script', cursive;

}

.highlight{
    border-bottom: 4px solid #72A1AD;
}

@media screen and (max-width: 768px){
    .structure_heading{
        font-size: 60px;
    }
    .structure_description{
        font-size: 30px;
    }
} 

/* About section */

.main{
    background-color: #FDD6CD;
    padding: 10rem 0;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content h1{
    font-size: 2rem;
    background-color: #72A1AD;
    background-image: linear-gradient(to top, #3B3632 20%, #72A1AD);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
}

.main_content h2{
    font-size: 1rem;
    color: #436b75;
}